/* ? Declaring root variables and website's color palette */
:root {
    /* Website's Color Palette */
    /* Tones - Shades of Grey */
    --tone-00: #000;
    --tone-01: #0f0f0f;
    --tone-02: #202020;
    --tone-03: #303030;
    --tone-04: #484848;
    --tone-05: #606060;
    --tone-06: #909090;
    --tone-07: #b0b0b0;
    --tone-08: #d0d0d0;
    --tone-09: #e0e0e0;
    --tone-10: #fff;

    /* Colors - Varying hues and shades */
    /* ? TODO: Add colors here :) */
    --color-yellow-0: #b8860b;
    --color-yellow-1: #c29525;
    --color-yellow-2: #d6b358;
    --color-white-0: #a6a867;
    --color-white-1: #c5c295;
    --color-white-2: #e3dcc2;
    --color-light-green-0: #222805;
    --color-light-green-1: #383d1c;
    --color-light-green-2: #5d6135;
    --color-dark-green-0: #020b01;
    --color-dark-green-1: #071002;
    --color-dark-green-2: #131902;
    --color-purple-0: #0a0201;
    --color-purple-1: #190003;
    --color-purple-2: #2e0014;

    /* ! Component variables */
    /* ? to be used to allow different themes*/
    --background-color: var(--tone-05);
    --body-color: var(--tone-05);
    --h1-color: var(--tone-00);
    --h2-color: var(--tone-02);
    --h3-color: var(--tone-03);
    --h4-color: var(--tone-03);
    --h5-color: var(--tone-03);
    --h6-color: var(--tone-03);
    --hr-color: var(--tone-00);
    --padding-h-3: 0vh 3vw;
    --padding-h-2: 0vh 2vw;
    --padding-h-1: 0vh 1vw;
    --padding-v-3: 3vh 0vw;
    --padding-v-2: 2vh 0vw;
    --padding-v-1: 1vh 0vw;
    --padding-3: 3rem;
    --padding-2: 2rem;
    --padding-1: 1rem;
}

/* Themes: */
/* ? Feel free to add additional themes if you want to! :D */
:root[data-theme="lights-off"] {
    --background-color: var(--tone-00);
    --body-color: var(--tone-00);
    --h1-color: var(--tone-10);
    --h2-color: var(--tone-08);
    --h3-color: var(--tone-06);
    --h4-color: var(--tone-06);
    --h5-color: var(--tone-06);
    --h6-color: var(--tone-06);
    --hr-color: var(--tone-08);
}

:root[data-theme="lights-on"] {
    --background-color: var(--tone-08);
    --body-color: var(--tone-08);
    --h1-color: var(--tone-01);
    --h2-color: var(--tone-02);
    --h3-color: var(--tone-03);
    --h4-color: var(--tone-04);
    --h5-color: var(--tone-04);
    --h6-color: var(--tone-04);
    --hr-color: var(--tone-10);
}

/* ? Setting colors for website elements */
/* ! to change color of element, please change color in the themes above ⬆️ */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color);
}

img {
    max-width: 20vw;
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

h3 {
    color: var(--h3-color);
}

h4 {
    color: var(--h4-color);
}

h5 {
    color: var(--h5-color);
}

h6 {
    color: var(--h6-color);
}

ul {
    list-style: none;

    & > li {
        margin: none;
        padding: none;
    }
}

/* ? Useful classes to reduce code repetition */
/* positions */
/* center */
.center {
    position: relative;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, 0);
}

/* Div Layouts */
.display-flex-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
}

.display-flex-col {
    display: flex;
    flex-flow: column nowrap;
}

/* Rounded Borders */
.rounded-border-3 {
    border-radius: 2rem;
}

.rounded-border-2 {
    border-radius: 1rem;
}

.rounded-border-1 {
    border-radius: 0.5rem;
}

/* Border styles */
.border-3 {
    border: 3px solid hotpink;
}

.border-2 {
    border: 2px solid hotpink;
}

.border-1 {
    border: 1dvi solid hotpink;
}

.page {
    min-height: 100vh;
    min-width: 90%;
    max-width: 90vw;
    padding: var(--padding-3);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* ? Media Queries: */
/* ? Setting break points for different screen sizes */
/* Default State - Will effect all queries */
@media screen and (min-width: 300px) {
}

/* Extra Small Screens */
@media screen and (max-width: 720px) {
}

/* Small Screens */
@media screen and (min-width: 721px) and (max-width: 1280px) {
}

/* Medium Screens */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
}

/* Large Screens */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
}

/* Extra Large Screens */
@media screen and (min-width: 1921px) {
}

/* __________________________________________________________________________x */
.v-card-outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    margin: 0.5rem;

    /*height: 20rem;*/
    /*width: calc(20rem * 1.727);*/
    width: 20rem;
    height: calc(20rem * 1.727); /*ratio of a tarot card : 2.75 * 4.75in*/
    padding: 0.5rem;
    border: 2px solid #b78845;

    perspective: 1000px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.v-card-outer:hover {
    transform: rotateY(180deg);
    transition-delay: 0.3s;
}

.v-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #b78845;
    text-align: center;
    transform-style: preserve-3d;
}

.v-card-outer::before,
.v-card-outer::after {
    position: absolute;
    z-index: 900;
    content: "";
    width: 1rem;
    height: 1rem;
    border: 2px solid #b78845;
    top: -0.1rem;
}

.v-card-outer::before {
    left: -0.1rem;
}

.v-card-outer::after {
    right: -0.1rem;
}

.v-card-inner::before,
.v-card-inner::after {
    z-index: 900;
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: #b78845;
    bottom: -0.7rem;
    border: 2px solid #b78845;
}

.v-card-inner::before {
    left: -0.6rem;
}

.v-card-inner::after {
    right: -0.6rem;
}

.v-card-front > .v-card-image,
.v-card-back > .v-card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.v-card-back {
    transform: rotateY(180deg);
    background: white;
    color: #b78845;
}

.v-card-front {
    color: #b78845;
    background: #131902;
}

.v-card-front,
.v-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

/* ______________________________________________ */
.h-card-outer {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    margin: 0.5rem;

    width: 20rem;
    height: calc(20rem * 1.727); /*ratio of a tarot card : 2.75 * 4.75in*/
    padding: 0.5rem;
    border: 2px solid #b78845;

    perspective: 1000px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.v-card-outer:hover {
    transform: rotateY(180deg);
    transition-delay: 0.3s;
}

.v-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #b78845;
    text-align: center;
    transform-style: preserve-3d;
}

.v-card-outer::before,
.v-card-outer::after {
    position: absolute;
    z-index: 900;
    content: "";
    width: 1rem;
    height: 1rem;
    border: 2px solid #b78845;
    top: -0.1rem;
}

.v-card-outer::before {
    left: -0.1rem;
}

.v-card-outer::after {
    right: -0.1rem;
}

.v-card-inner::before,
.v-card-inner::after {
    z-index: 900;
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: #b78845;
    bottom: -0.7rem;
    border: 2px solid #b78845;
}

.v-card-inner::before {
    left: -0.6rem;
}

.v-card-inner::after {
    right: -0.6rem;
}

.v-card-front > .v-card-image,
.v-card-back > .v-card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.v-card-back {
    transform: rotateY(180deg);
    background: white;
    color: #b78845;
}

.v-card-front {
    color: #b78845;
    background: #131902;
}

.v-card-front,
.v-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.base-button {
    display: flex;
    flex-flow: row nowrap;
    margin: 20rem;
    padding: 0.5rem;
    border: none;
    font-family: Almendr, Serif;
    color: #b78845;
    background-color: transparent;
    transition: 0.2s smooth;
}

.base-button::before,
.base-button::after {
    content: url("vintage_elements_2_corner_2.svg");
    height: 1rem;
    width: 1rem;
    margin-top: 0.8rem;
}

.base-button::before {
    transform: rotate(90deg);
}

.base-button::after {
    transform: rotateZ(90deg) rotateY(0deg);
}

.base-button:hover {
    border-bottom: 2px solid #b78845;
}

#products-page {
    display: flex;
    gap: 3rem;
}

.card {
    /* background-color: hotpink; */
    height: calc(20rem * 1.727);
    /* border-radius: 1rem; */
}

.sparkle-icon {
    max-height: 3rem;
}

#nav-bar {
    margin-bottom: 3rem;
    background-color: #c0c0c0;
    max-height: max(5vh, 5rem);
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}

#nav-bar-user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    background: transparent;
    margin-left: 1.5rem;
}


#nav-bar-user h4,
#nav-bar-user h5 {
    color: var(--h3-color);
    margin: 0;
}

.bilbo-swash-caps-regular {
    font-family: "Bilbo Swash Caps", cursive;
    font-style: normal;
}

.corinthia-bold {
    font-family: "Corinthia", cursive;
    font-style: normal;
}

#brand {
    min-width: 30vw;
}

.user-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5rem;
    min-width: 12rem;
    list-style: none;
    opacity: 0;
    z-index: 200;
}

.user-dropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.user-dropdown li a {
    display: block;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border: 2px solid hotpink;
    min-width: 12vw;
}


.dropdown-toggle {
    font-size: 1.2rem;
    width: 12vw;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
    outline: none;
    box-shadow: none;
}