.admin-dashboard-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    border: 2px dotted blueviolet;
    background-color: var(--color-white-0);
}

.admin-dashboard-row-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

#admin-dashboard-title > h2 {
    padding: 2rem;
    margin-left: 2rem;
    color: var(--color-light-green-0);
}

.base-dashboard-button {
    padding: 0 0.7rem;
    margin: 2rem 1rem;
    height: 3rem;

    position: sticky;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    /*height: 3rem;*/
}